/* Prettified by Source 2 Viewer 18.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/citadel_hud_top_bar.vcss_c");
@define purchaseGap: 3px;
@define backerWeaponT1: #E7CD9B;
@define backerWeaponT2: #C9A46A;
@define backerWeaponT3: #AD7C46;
@define backerWeaponT4: #534944;
@define backerVitalityT1: #CED79A;
@define backerVitalityT2: #A6B180;
@define backerVitalityT3: #7C8B56;
@define backerVitalityT4: #4E4E43;
@define backerSpiritT1: #DDC3E5;
@define backerSpiritT2: #AFA1C4;
@define backerSpiritT3: #8C87B6;
@define backerSpiritT4: #504949;
.HeroNameHidden
{
	visibility: collapse;
}

.QuickPurchasesPanel
{
	horizontal-align: center;
	flow-children: up;
	ignore-parent-flow: true;
	width: fit-children;
	height: fit-children;
	z-index: -99;
}

.gamemode_streetbrawl .QuickPurchasesPanel,.gScoreboardOpen .QuickPurchasesPanel
{
	visibility: collapse;
}

.quickPurchase
{
	flow-children: right;
	ignore-parent-flow: true;
	margin-top: 0px;
	padding-bottom: purchaseGap;
	animation-name: quickPurchaseFadeIn;
	animation-duration: 0.3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	opacity: 1.0;
	horizontal-align: center;
	ui-scale: 75%;
	overflow: noclip;
}

.quickPurchase.quickFading
{
	animation-name: quickPurchaseFadeOut;
	animation-duration: 0.3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.quickItemInfo
{
	flow-children: right;
	vertical-align: center;
	ui-scale: 150%;
	border-radius: 3px;
	border: 1px solid transparent;
	overflow: noclip;
}

.isWeaponPurchase .quickItemInfo
{
	border-color: courageBrightColor;
}

.isArmorPurchase .quickItemInfo
{
	border-color: fortitudeBrightColor;
}

.isTechPurchase .quickItemInfo
{
	border-color: spiritBrightColor;
}

.isTier1Purchase.isWeaponPurchase .quickItemInfo
{
	border-color: courageBrightColor;
}

.isTier2Purchase.isWeaponPurchase .quickItemInfo
{
	border-color: courageDarkColor;
}

.isTier3Purchase.isWeaponPurchase .quickItemInfo
{
	border-color: courageDarkerColor;
}

.isTier4Purchase.isWeaponPurchase .quickItemInfo
{
	border-color: courageBrightColor;
	border-width: 1.5px;
}

.isTier1Purchase.isArmorPurchase .quickItemInfo
{
	border-color: fortitudeBrightColor;
}

.isTier2Purchase.isArmorPurchase .quickItemInfo
{
	border-color: fortitudeDarkColor;
}

.isTier3Purchase.isArmorPurchase .quickItemInfo
{
	border-color: fortitudeDarkerColor;
}

.isTier4Purchase.isArmorPurchase .quickItemInfo
{
	border-color: fortitudeBrightColor;
	border-width: 1.5px;
}

.isTier1Purchase.isTechPurchase .quickItemInfo
{
	border-color: spiritBrightColor;
}

.isTier2Purchase.isTechPurchase .quickItemInfo
{
	border-color: spiritDarkColor;
}

.isTier3Purchase.isTechPurchase .quickItemInfo
{
	border-color: spiritDarkerColor;
}

.isTier4Purchase.isTechPurchase .quickItemInfo
{
	border-color: spiritBrightColor;
	border-width: 1.5px;
}

.isWeaponPurchase .quickItemInfo
{
	background-color: backerWeaponT3;
}

.isArmorPurchase .quickItemInfo
{
	background-color: backerVitalityT3;
}

.isTechPurchase .quickItemInfo
{
	background-color: backerSpiritT3;
}

.isTier1Purchase.isWeaponPurchase .quickItemInfo
{
	background-color: backerWeaponT1;
}

.isTier2Purchase.isWeaponPurchase .quickItemInfo
{
	background-color: backerWeaponT2;
}

.isTier3Purchase.isWeaponPurchase .quickItemInfo
{
	background-color: backerWeaponT3;
}

.isTier4Purchase.isWeaponPurchase .quickItemInfo
{
	background-color: backerWeaponT4;
}

.isTier1Purchase.isArmorPurchase .quickItemInfo
{
	background-color: backerVitalityT1;
}

.isTier2Purchase.isArmorPurchase .quickItemInfo
{
	background-color: backerVitalityT2;
}

.isTier3Purchase.isArmorPurchase .quickItemInfo
{
	background-color: backerVitalityT3;
}

.isTier4Purchase.isArmorPurchase .quickItemInfo
{
	background-color: backerVitalityT4;
}

.isTier1Purchase.isTechPurchase .quickItemInfo
{
	background-color: backerSpiritT1;
}

.isTier2Purchase.isTechPurchase .quickItemInfo
{
	background-color: backerSpiritT2;
}

.isTier3Purchase.isTechPurchase .quickItemInfo
{
	background-color: backerSpiritT3;
}

.isTier4Purchase.isTechPurchase .quickItemInfo
{
	background-color: backerSpiritT4;
}

.quickPurchase .mod_icon
{
	width: 24px;
	height: 24px;
	background-size: 100% 100%;
	wash-color: none;
	border-radius: 3px;
	border: 1px solid transparent;
	margin: 2px;
}

.isWeaponPurchase .mod_icon
{
	border-color: courageBrightColor;
}

.isArmorPurchase .mod_icon
{
	border-color: fortitudeBrightColor;
}

.isTechPurchase .mod_icon
{
	border-color: spiritBrightColor;
}

.isTier1Purchase.isWeaponPurchase .mod_icon
{
	border-color: courageBrightColor;
}

.isTier2Purchase.isWeaponPurchase .mod_icon
{
	border-color: courageDarkColor;
}

.isTier3Purchase.isWeaponPurchase .mod_icon
{
	border-color: courageDarkerColor;
}

.isTier4Purchase.isWeaponPurchase .mod_icon
{
	border-color: courageColor;
}

.isTier1Purchase.isArmorPurchase .mod_icon
{
	border-color: fortitudeBrightColor;
}

.isTier2Purchase.isArmorPurchase .mod_icon
{
	border-color: fortitudeDarkColor;
}

.isTier3Purchase.isArmorPurchase .mod_icon
{
	border-color: fortitudeDarkerColor;
}

.isTier4Purchase.isArmorPurchase .mod_icon
{
	border-color: fortitudeColor;
}

.isTier1Purchase.isTechPurchase .mod_icon
{
	border-color: spiritBrightColor;
}

.isTier2Purchase.isTechPurchase .mod_icon
{
	border-color: spiritDarkColor;
}

.isTier3Purchase.isTechPurchase .mod_icon
{
	border-color: spiritDarkerColor;
}

.isTier4Purchase.isTechPurchase .mod_icon
{
	border-color: spiritColor;
}

.quickPurchaseName
{
	font-family: oracle;
	font-size: 13px;
	color: offBlack;
	vertical-align: center;
	border-radius: 2px;
	font-weight: bold;
	padding-top: 1px;
	margin: 2px;
	max-width: 130px;
	max-height: 20px;
	white-space: nowrap;
	text-overflow: shrink min(8px);
}

.isTier4Purchase.isWeaponPurchase .quickPurchaseName
{
	color: courageLightColor;
}

.isTier4Purchase.isArmorPurchase .quickPurchaseName
{
	color: fortitudeLightColor;
}

.isTier4Purchase.isTechPurchase .quickPurchaseName
{
	color: spiritLightColor;
}

.isTier4Purchase.quickPurchase:not(.quickFading)
{
	animation-name: none;
}

.isTier4Purchase.isWeaponPurchase .quickItemInfo
{
	animation-name: quickT4WeaponGlow;
	animation-duration: 2.0s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}

@keyframes 'quickT4WeaponGlow'
{
	0%
	{
		opacity: 0.0;
		brightness: 1.0;
		wash-color: #ffffff00;
	}
	
	6%
	{
		opacity: 1.0;
		brightness: 1.0;
		wash-color: #ffffff00;
	}
	
	17%
	{
		opacity: 1.0;
		pre-transform-scale2d: 1.08;
		brightness: 1.4;
		wash-color: courageBrightColor&50;
	}
	
	33%
	{
		opacity: 1.0;
		pre-transform-scale2d: 1.0;
		brightness: 1.0;
		wash-color: #ffffff00;
	}
	
	50%
	{
		opacity: 1.0;
		pre-transform-scale2d: 1.08;
		brightness: 1.4;
		wash-color: courageBrightColor&50;
	}
	
	67%
	{
		opacity: 1.0;
		pre-transform-scale2d: 1.0;
		brightness: 1.0;
		wash-color: #ffffff00;
	}
	
	83%
	{
		opacity: 1.0;
		pre-transform-scale2d: 1.08;
		brightness: 1.4;
		wash-color: courageBrightColor&50;
	}
	
	100%
	{
		opacity: 1.0;
		pre-transform-scale2d: 1.0;
		brightness: 1.0;
		wash-color: #ffffff00;
	}
	
}

.isTier4Purchase.isArmorPurchase .quickItemInfo
{
	animation-name: quickT4ArmorGlow;
	animation-duration: 2.0s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}

@keyframes 'quickT4ArmorGlow'
{
	0%
	{
		opacity: 0.0;
		brightness: 1.0;
		wash-color: #ffffff00;
	}
	
	6%
	{
		opacity: 1.0;
		brightness: 1.0;
		wash-color: #ffffff00;
	}
	
	17%
	{
		opacity: 1.0;
		pre-transform-scale2d: 1.08;
		brightness: 1.4;
		wash-color: fortitudeBrightColor&50;
	}
	
	33%
	{
		opacity: 1.0;
		pre-transform-scale2d: 1.0;
		brightness: 1.0;
		wash-color: #ffffff00;
	}
	
	50%
	{
		opacity: 1.0;
		pre-transform-scale2d: 1.08;
		brightness: 1.4;
		wash-color: fortitudeBrightColor&50;
	}
	
	67%
	{
		opacity: 1.0;
		pre-transform-scale2d: 1.0;
		brightness: 1.0;
		wash-color: #ffffff00;
	}
	
	83%
	{
		opacity: 1.0;
		pre-transform-scale2d: 1.08;
		brightness: 1.4;
		wash-color: fortitudeBrightColor&50;
	}
	
	100%
	{
		opacity: 1.0;
		pre-transform-scale2d: 1.0;
		brightness: 1.0;
		wash-color: #ffffff00;
	}
	
}

.isTier4Purchase.isTechPurchase .quickItemInfo
{
	animation-name: quickT4TechGlow;
	animation-duration: 2.0s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
}

@keyframes 'quickT4TechGlow'
{
	0%
	{
		opacity: 0.0;
		brightness: 1.0;
		wash-color: #ffffff00;
	}
	
	6%
	{
		opacity: 1.0;
		brightness: 1.0;
		wash-color: #ffffff00;
	}
	
	17%
	{
		opacity: 1.0;
		pre-transform-scale2d: 1.08;
		brightness: 1.4;
		wash-color: spiritBrightColor&50;
	}
	
	33%
	{
		opacity: 1.0;
		pre-transform-scale2d: 1.0;
		brightness: 1.0;
		wash-color: #ffffff00;
	}
	
	50%
	{
		opacity: 1.0;
		pre-transform-scale2d: 1.08;
		brightness: 1.4;
		wash-color: spiritBrightColor&50;
	}
	
	67%
	{
		opacity: 1.0;
		pre-transform-scale2d: 1.0;
		brightness: 1.0;
		wash-color: #ffffff00;
	}
	
	83%
	{
		opacity: 1.0;
		pre-transform-scale2d: 1.08;
		brightness: 1.4;
		wash-color: spiritBrightColor&50;
	}
	
	100%
	{
		opacity: 1.0;
		pre-transform-scale2d: 1.0;
		brightness: 1.0;
		wash-color: #ffffff00;
	}
	
}

@keyframes 'quickPurchaseFadeIn'
{
	0%
	{
		opacity: 0.0;
	}
	
	100%
	{
		opacity: 1.0;
	}
	
}

@keyframes 'quickPurchaseFadeOut'
{
	0%
	{
		opacity: 1.0;
	}
	
	100%
	{
		opacity: 0.0;
	}
	
}

.hiddenGoldValue
{
	visibility: collapse;
}

/* ==========================================================================
   Top Bar Nicknames (AlwaysPlayerName)
   ========================================================================== */
.AlwaysPlayerName
{
	ignore-parent-flow: true;
	horizontal-align: center;
	vertical-align: top;
	width: 100%;
	height: 18px;
	font-size: 15px;
	color: #FFF6D8;
	text-align: center;
	font-weight: semi-bold;
	font-family: oracle;
	text-overflow: shrink min(10px) ellipsis;
	white-space: nowrap;
	text-shadow: 0px 0px 2px 3.0 #000000;
	margin-top: 2px;
	z-index: 100;
	visibility: visible;
}

.spec_mode .AlwaysPlayerName
{
	margin-top: 2px;
}

/* ==========================================================================
   Top Bar Ultimate Cooldowns
   ========================================================================== */
#StatusRow
{
	flow-children: down;
	height: 45px;
}

.UltimateUnlocked .UltimateStatus
{
	horizontal-align: center;
}

#UltimateCooldownTextHidden
{
	visibility: collapse;
}

#UltimateCooldownTextShown
{
	visibility: collapse;
	width: 40px;
	text-align: center;
	font-family: numericOracle;
	font-weight: bold;
	font-size: 15px;
	color: #ffffff;
	text-shadow: 0px 0px 0px 4.0 offBlack;
	z-index: 999;
}

.UltimateUnlocked #UltimateCooldownTextShown
{
	visibility: visible;
}

.UltimateCooldownReady #UltimateCooldownTextShown,
.gScoreboardOpen #UltimateCooldownTextShown
{
	visibility: collapse;
}

/* ==========================================================================
   Top Bar Soul Difference (UrnTracker)
   ========================================================================== */
.TeamNetworth
{
	width: 300px !important;
	padding-bottom: 2px;
}

#UrnTracker
{
	width: 145px !important;
	height: 18px;
	background-color: gradient(linear, 100% 0%, 0% 0%, from(#FFFFFFFF), color-stop(0.70, #FFFFFFFF), color-stop(0.85, #FFFFFF08), to(#FFFFFF00));
	wash-color: #000000;
	border-radius: 0px;
	border-bottom-right-radius: 10px;
	horizontal-align: center;
	margin-right: 40px !important;
	y: 34px;
	x: -58px;
	opacity-mask: url("s2r://panorama/images/masks/dust_01_psd.vtex");
	flow-children: right;
}

#UrnTracker.show
{
	opacity: 1;
}

#UrnTrackerLabel
{
	horizontal-align: center;
	font-size: 18px;
	font-weight: bold;
	vertical-align: center;
	text-align: right;
	color: black;
	width: 100px;
	height: 18px;
	padding-right: 2px;
	text-overflow: shrink;
	font-family: oracle;
	padding-left: 30px;
}

#UrnTracker[visible="false"]
{
	opacity: 0 !important;
	pointer-events: none;
}

#UrnTracker.good
{
	wash-color: #00FF7F;
}

#UrnTracker.good #UrnTrackerLabel
{
	color: black;
}

#UrnTracker.bad
{
	wash-color: #CD5C5C;
}

#UrnTracker.bad #UrnTrackerLabel
{
	color: black;
}

#UrnTracker.neutral
{
	wash-color: #DCDCDC;
}

#UrnTracker.neutral #UrnTrackerLabel
{
	color: black;
}

#UrnTracker .UrnTrackerSoulIcon
{
	width: 10px;
	height: 100%;
	background-image: url("s2r://panorama/images/hud/icons/icon_soul.vsvg");
	background-size: 65% 65%;
	background-position: center;
	background-repeat: no-repeat;
	img-shadow: 0px 0px 0px 2.0 #ffffff77;
	contrast: -1;
	margin-left: 1px;
}

/* ==========================================================================
   Symmetrical Topbar Team Flow Alignment (Supports 1-6 players without gaps)
   ========================================================================== */
#TeamFriendly .PlayerContents,
.friend .PlayerContents,
.team1 .PlayerContents,
CitadelHudTopBarTeam:first-child .PlayerContents
{
	width: 100%;
	horizontal-align: right;
}

#TeamFriendly #PlayersContainer,
.friend #PlayersContainer,
.team1 #PlayersContainer,
CitadelHudTopBarTeam:first-child #PlayersContainer
{
	width: fit-children !important;
	horizontal-align: right !important;
	flow-children: right !important;
}

#TeamEnemy .PlayerContents,
.enemy .PlayerContents,
.team2 .PlayerContents,
CitadelHudTopBarTeam:last-child .PlayerContents
{
	width: 100%;
	horizontal-align: left;
}

#TeamEnemy #PlayersContainer,
.enemy #PlayersContainer,
.team2 #PlayersContainer,
CitadelHudTopBarTeam:last-child #PlayersContainer
{
	width: fit-children !important;
	horizontal-align: left !important;
	flow-children: right !important;
}




